# IDEs (IntelliJ, VS Code, STS) y OS
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.DS_Store
Thumbs.db

# Logs y Temporales generales
*.log
logs/
temp/
/tmp

# ==========================================
# Backend (Spring Boot / Maven)
# ==========================================
**/target/
**/build/
.mvn/wrapper/maven-wrapper.jar

# Ignorar configuraciones Base de datos, tokens, etc.
**/application-dev.properties
**/application-local.properties

# ==========================================
# Frontend (Angular)
# ==========================================
**/node_modules/
**/dist/
**/.angular/cache/
**/out-tsc/
**/bazel-out/
npm-debug.log
yarn-error.log
/connect.lock
/coverage
testem.log
/typings
__screenshots__/