<div class="vehiculos-shell">
  @switch (vista()) {
    @case ('busqueda') {
      <app-vehiculo-search
        (vehiculoEncontrado)="onVehiculoEncontrado()"
        (nuevo)="abrirNuevo()"
      />
    }
    @case ('detalle') {
      <app-vehiculo-detail
        (editar)="abrirEditar()"
        (actualizarKm)="abrirKmDialog()"
        (volver)="volver()"
        (desactivado)="onDesactivado()"
      />
    }
    @case ('form-nuevo') {
      <app-vehiculo-form
        [clienteIdPreseteado]="clienteIdPreseteado()"
        (guardado)="onGuardado()"
        (cancelar)="volver()"
      />
    }
    @case ('form-editar') {
      <app-vehiculo-form
        [edicion]="true"
        (guardado)="onGuardado()"
        (cancelar)="volverAlDetalle()"
      />
    }
    @case ('actualizar-km') {
      <app-vehiculo-actualizar-km
        (guardado)="onKmActualizado()"
        (cancelar)="volverAlDetalle()"
      />
    }
  }
</div>