@use 'formularios' as *;

.ficha-form {
  @include ficha-form-box(680px);
}

.form-header h2 {
  @include titulo-form-header;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  &.full { grid-column: 1 / -1; }

  label {
    font-size: 0.78rem;
    font-weight: 600;
    color: var(--text-muted);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  input , p-select{
    width: 100%;
  }

  &.campo-error input {
    border-color: var(--error-color) !important;
  }
}

.error-msg {
  font-size: 0.75rem;
  color: var(--error-color);
}

.form-footer {
  @include form-footer;
  margin-top: var(--espaciado);
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .campo.full {
    grid-column: 1;
  }

  .form-footer {
    flex-direction: column-reverse;

    p-button {
      width: 100%;
    }
  }
}